/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #2e8555;
  --ifm-color-primary-dark: #29784c;
  --ifm-color-primary-darker: #277148;
  --ifm-color-primary-darkest: #205d3b;
  --ifm-color-primary-light: #33925d;
  --ifm-color-primary-lighter: #359962;
  --ifm-color-primary-lightest: #3cad6e;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #25c2a0;
  --ifm-color-primary-dark: #21af90;
  --ifm-color-primary-darker: #1fa588;
  --ifm-color-primary-darkest: #1a8870;
  --ifm-color-primary-light: #29d5b0;
  --ifm-color-primary-lighter: #32d8b4;
  --ifm-color-primary-lightest: #4fddbf;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
}

/* 1. FORMATO DO SELO: Adicione aqui o nome de qualquer arquivo que terá um selo */
.menu__link[href*="list-issues"]::before {
  display: inline-block;
  /* Aumentamos o padding: 4px em cima/baixo e 8px nas laterais para a pílula crescer */
  padding: 4px 8px; 
  border-radius: 6px; /* Aumentado levemente para acompanhar o novo tamanho */
  font-family: 'Fira Code', monospace;
  /* Aumentamos a fonte: de 0.65rem para 0.8rem (mais legível) */
  font-size: 0.8rem; 
  font-weight: bold;
  margin-right: 10px; /* Aumentamos o espaço entre o selo e o texto */
  line-height: 1;
  vertical-align: middle;
}

.menu__link[href*="list-issues"]::before {
  content: 'GET';
  background-color: #10b981; /* Verde */
  color: white;
}